*{
    font-family: 'Inconsolata', monospace;   
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{

    background-image: url(NOCHE.jpg);
}
body{
    background-image: url(NOCHE.jpg);
    background-repeat: no-repeat;
    background-size: 1800px ;
}

#title{
    font-size: 150px;
    background: linear-gradient(-70deg,#565961 40%, #42b3f4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.contenedor1{
    background: #4AA9CA;
    display: table;
    width: 350px;
    height: 300px;
    top: 250px;
    right: 5%;
    position: absolute;
    border-radius: 84px 84px 84px 84px;
    z-index: 1;

}
.contenedor2{
    background: #4AA9CA;
    display: table;
    width: 350px;
    height: 300px;
    top: 250px;
    left: 5%;
    position: absolute;
    border-radius: 84px 84px 84px 84px;
    z-index: 1;
}
.contenedor3{
    background: #4AA9CA;
    display: table;
    width: 350px;
    height: 300px;
    top: 700px;
    left: 5%;
    position: absolute;
    border-radius: 84px 84px 84px 84px;
    z-index: 1;
}
.contenedor4{
    background: #4AA9CA;
    display: table;
    width: 350px;
    height: 300px;
    top: 700px;
    right: 5%;
    margin-bottom: 10%;
    position: absolute;
    border-radius: 84px 84px 84px 84px;
    z-index: 1;
}
.contenedor5{
    background: #4AA9CA;
    display: table;
    width: 350px;
    height: 300px;
    top: 500px;
    right: 36%;
    position: absolute;
    border-radius: 84px 84px 84px 84px;
    z-index: 1;
}
.answer{
    opacity: 0;
    font-weight: bolder;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#trans{
    transition: all 500ms infinite;
}
#trans:hover > .answer{
    opacity: 1;
    cursor: pointer;
}
.question{
    font-size: 1.5rem;
    font-weight: bolder;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
